fieldset{
    height: 600px; width: 600px;
    background-color: whitesmoke;
}
.src_form_btn_warp .search_btn_txt {
    float: left;
    padding: 0 0 0 15px;
}
.src_form_btn_wrap .search_btn, .astro_set_form_btn_wrap .search_btn {
    text-decoration: none;
    color: #fff;
    background: blue;
    font: normal 18px/33px arial;
    float: left;
    width: 98px;
    height: 33px;
    border: 1px solid blue;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 blue;
}
.src_form_btn_wrap .search_btn {
    text-decoration: none;
    color: #fff;
    background: blue;
    font: 18px/33px arial;
    float: left;
    width: 98px;
    height: 33px;
    border: 1px solid blue;
    border-radius: 3px;
}
